* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

button {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

#startButton {
  background-color: red;
  color: white;
}

#startButton:hover {
  background-color: rgb(199, 35, 35);
}

#resetButton {
  background-color: #fdcb2b;
  color: black;
}

#resetButton:hover {
  background-color: #b38f1b;
}

#shortBreakButton,
#longBreakButton {
  background-color: slategrey;
  color: white;
}

#shortBreakButton:hover,
#longBreakButton:hover {
  background-color: rgb(74, 79, 83);
}

button:active {
  transform: scale(0.85);
  transition: all 0.4s ease-in-out;
}

#timer {
  font-size: 70px;
}

.config {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.config:hover {
  transform: scale(0.95);
  cursor: pointer;
}
